* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
   background-color: #ecf2f8;
   font-family: "Barlow Semi Condensed", sans-serif;
}

.card-1{
background-color: #7541c8;
color: #ffffff;
position: relative;
z-index: 0;
}
.card-2{
   background-color: #48556a;
   color: white;

}
.card-3{
   background-color: #ffffff

}
.card-4 {
background-color: #19212e;
color: white;

}
.card-5 {
   background-color: #ffffff;

}



.card-container {
   padding: 5% 2%
}

.card-1, .card-3, .card-2, .card-4, .card-5 {
   margin-bottom: 20px;
   padding: 10px;
}

 .header {
   display: flex;
   align-items: center;
   margin-bottom: 33px;
  z-index: 3;
  position: relative;
 }

 .header img {
   border-radius: 50%;
   margin-right: 10px;
 }

 .grid h4 {
   margin-bottom: 20px;
   font-size: 1.2rem;
  
 }

 .grid {
   border-radius: 5px;
   box-shadow: -1px 10px 6px 1px rgba(0,0,0,0.38);
   font-size: 13px;
 }

 .header .name {
   font-size: 1rem;
 }

 .quote {
position: absolute;
right: 13%;
top: 0;
z-index: 1;
 }

 .card-1 h4 {
   z-index: 2;
 }

@media (min-width: 576px) {
.card-container{
   display: flex;
   flex-direction: row;
   max-width: 1440px;
   margin: 0 auto;
   justify-content: space-between;
}

.left-half {
   display: flex;
   flex-direction: column;
   flex-basis: 78%;
}

.top-left-half {
   display: flex;
   flex-basis: 50%;
   justify-content: space-between;
   
}

.bottom-left-half {
   display: flex;
   flex-basis: 50%;
   justify-content: space-between;
  
}

.card-5 {
   flex-basis: 20%;
}

.card-1{
   flex-basis: 69%;
   }
   .card-2{
      flex-basis: 29%;
   
   }
   .card-3{
      flex-basis: 29%;
   
   }
   .card-4 {
      flex-basis: 69%;
   
   }
   
   }